# Faça uma cópia desse arquivo, mas retire o ".example" para que o projeto acessá-lo :)

# Rode projeto fora da pasta backend "uvicorn backend.main:app --reload"

# python -c "import secrets; print(secrets.token_hex(32))"
JWT_SECRET_KEY=cole_o_resultado_do_comando_aqui