# Ambiente virtual
venv/
env/
ENV/

# Arquivos do Python
__pycache__/
*.pyc
*.pyo

# Configurações e Variáveis de Ambiente
.env

# Credenciais
utils/secret_file.json

# Ignorar backups de JSON gerados pela IA e pelo Scrapy
data/processed/*.json
backend/data/processed/*.json
data/raw/*.json
backend/data/raw/*.json

# Banco de dados SQLite
*.db
*.sqlite
*.sqlite3
