argon2-cffi==25.1.0
fastapi==0.141.1
google_api_python_client==2.200.0
google_auth_oauthlib==1.4.1
itemadapter==0.13.1
groq==1.7.0
httpx==0.28.1
passlib==1.7.4
pydantic==2.13.5
pytest==9.1.1
python-dotenv==1.2.3
python-multipart==0.0.32
PyJWT==2.14.0
Scrapy==2.19.0
slowapi==0.1.10
SQLAlchemy==2.0.54
structlog==25.5.0
uvicorn==0.53.0
youtube_transcript_api==1.2.4
